@media only screen and (max-width: 1440px) {

    /* Home Banner */
    .main-header .navbar .navbar-flex-items .toggle-dark-mode {
        display: none;
    }
}

@media only screen and (max-width: 1024px) {

    /* Home Banner */
    .banner-flex-items .home-banner-img {
        width: 400px;
    }

    .main-header .navbar .navbar-flex-items .toggle-dark-mode {
        display: none;
    }

    /* Skill Set */
    .section-skill-set .skill-set-img-stat {
        width: 250px;
    }
}

@media only screen and (max-width: 768px) {

    /* Home Banner */
    .banner-flex-items .home-banner-content > h1 {
        font-size: 40px;
        line-height: 55px;
    }

    .main-header .navbar .navbar-flex-items .toggle-dark-mode {
        display: none;
    }

    .banner-flex-items .home-banner-content > p {
        font-size: 16px;
        line-height: 26px;
    }

    .banner-flex-items .home-banner-img {
        width: 300px;
    }

    /* Skill Set */
    .section-skill-set .skill-set-img-stat {
        display: none;
    }
}


@media only screen and (max-width: 767px) {

    /* Navbar Header */
    .navbar-flex-items .navbar-item-menu {
        display: none;
    }

    .main-header .navbar .navbar-flex-items .toggle-dark-mode {
        display: contents;
    }
    
    /* Home Banner */
    .banner-flex-items {
       height: 600px;
    }

    .banner-flex-items .home-banner-content > h1 {
        font-size: 35px;
        line-height: 50px;
    }

    .banner-flex-items .home-banner-content > p {
        font-size: 16px;
        line-height: 26px;
    }

    .banner-flex-items .home-banner-img {
        display: none;
    }

    /* Skill Set */
    .section-skill-set .skill-set-img-stat {
        display: none;
    }
}

