/* 
    Title: MP - Portfolio
    Author: Mark Paul Acebo Cañeda
    Version: 1.0
*/

/* Global */

:root {
    /* Background Colors */
    --mp-bg-primary: #fffafa;

    /* Color Variables */
    --mp-color-white: #ffffff;
    --mp-color-black: #000000;
    --mp-color-green: #035755;
    --mp-color-danger: #FB4C47;
    --mp-color-gray: #242424;

    /* Global Font */
    --mp-font-poppins: "Poppins", sans-serif;
}

* {
	margin: 0px;
	padding: 0px;
	border: none;
	outline: none;
	font-size: 100%;
}

html {
   height: 100%;
}

body {
	background-color: var(--mp-bg-primary);
	color: #272b41;
    font-family: var(--mp-font-poppins);
	font-size: 0.9375rem;
    height: 100%;
	overflow-x: hidden;
}

/* Utilities */

/* Header Typography */
h1, h2, h3, h4, h5, h6 { color: #272b41; font-weight: 500; }
ul { list-style: none; padding: 0px; }
a { text-decoration: none; color: var(--mp-color-gray); }

h1 { font-size: 2.25rem; }
h2 { font-size: 1.875rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.125rem; }
h5 { font-size: 1rem; }
h6 { font-size: 0.875rem; }

/* Paddings */

.pl-1 { padding-left: 1em; }
.pl-2 { padding-left: 2em; }
.pl-3 { padding-left: 3em; }
.pl-4 { padding-left: 4em; }
.pl-5 { padding-left: 5em; }

.pr-1 { padding-right: 1em; }
.pr-2 { padding-right: 2em; }
.pr-3 { padding-right: 3em; }
.pr-4 { padding-right: 4em; }
.pr-5 { padding-right: 5em; }

.pt-1 { padding-top: 1em; }
.pt-2 { padding-top: 2em; }
.pt-3 { padding-top: 3em; }
.pt-4 { padding-top: 4em; }
.pt-5 { padding-top: 5em; }

.pb-1 { padding-bottom: 1em; }
.pb-2 { padding-bottom: 2em; }
.pb-3 { padding-bottom: 3em; }
.pb-4 { padding-bottom: 4em; }
.pb-5 { padding-bottom: 5em; }

/* Margins */

.ml-1 { margin-left: 1em !important; }
.ml-2 { margin-left: 2em !important; }
.ml-3 { margin-left: 3em !important; }
.ml-4 { margin-left: 4em !important; }
.ml-5 { margin-left: 5em !important; }

.mr-1 { margin-right: 1em !important; }
.mr-2 { margin-right: 2em !important; }
.mr-3 { margin-right: 3em !important; }
.mr-4 { margin-right: 4em !important; }
.mr-5 { margin-right: 5em !important; }

.mt-1 { margin-top: 1em !important; }
.mt-2 { margin-top: 2em !important; }
.mt-3 { margin-top: 3em !important; }
.mt-4 { margin-top: 4em !important; }
.mt-5 { margin-top: 5em !important; }

.mb-1 { margin-bottom: 1em; }
.mb-2 { margin-bottom: 2em; }
.mb-3 { margin-bottom: 3em; }
.mb-4 { margin-bottom: 4em; }
.mb-5 { margin-bottom: 5em; }

/* Buttons */

.btn-danger {
	background-color: var(--mp-color-danger);
	box-shadow: 0px 8px 87px rgba(0, 0, 0, 0.1);
	border-radius: 65px;
	color: var(--mp-color-white);
    padding: 12px 50px;
    border: none;
    isolation: isolate;
}

.btn-danger:hover {
	background-color: #242424;
}

/* Navbar Header */

.main-header {
    background: var(--mp-bg-primary);
    padding: 20px 0;
}

.header-fixed {
    position: fixed;
    width: 100%;
    background: var(--mp-color-white);
    z-index: 99;
    padding: 10px 0;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-animation: scale-in-ver-top 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-ver-top 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.main-header .navbar .navbar-flex-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.navbar-flex-items .navbar-item-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-flex-items .navbar-item-menu > li {
    margin-left: 2.5rem;
}

.navbar-flex-items .navbar-item-menu > li > a {
   color: var(--mp-color-gray);
   font-size: 18px;
}

.navbar .navbar-brand  {
   display: flex;
   align-items: center;
   justify-content: center;
}

.navbar .navbar-brand > img {
    width: 40px;
}

.navbar .navbar-brand > span {
    font-size: 26px;
    font-weight: bold;
    margin-left: 10px;
}

.main-header .navbar .navbar-flex-items .toggle-dark-mode {
    font-size: 23px;
    line-height: 0;
    color: var(--mp-color-gray);
}

/* Banner */

.section-banner {
    background: var(--mp-bg-primary);
}

.banner-flex-items {
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner-flex-items .home-banner-content > h1 {
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	line-height: 70px;
	text-transform: capitalize;
	color: var(--mp-color-gray);
}

.banner-flex-items .home-banner-content > p {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
	text-transform: capitalize;
	color: #4B4F51;
	margin-bottom: 2.5em;
}

.banner-flex-items .home-banner-img {
	width: 600px;
	height: 600px;
}

/* Section Header */
.section-header {
   padding-bottom: 2em;
}

.section-header > h2 {
    font-weight: 600;
}

.section-header > p {
   font-size: 16px;
   line-height: 26px;
}

/* About Section */

.about-section {
  background: var(--mp-color-white);
  padding: 80px 0 80px;
}

/* Skill Set */

.section-skill-set {
    background: var(--mp-bg-primary);
    padding: 80px 0 80px;
}

.section-skill-set .card-skill-set {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    border: none;
}

.section-skill-set .card-skill-set .card-body {
    display: grid;
    justify-items: center;
    text-align: center;
    padding: 30px;
}

.section-skill-set .card-skill-set .card-body > i {
    font-size: 40px;
    line-height: 0;
}

.section-skill-set .card-skill-set .card-body > span {
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    margin-top: 1em;
}

.contact-flex-items {
    margin-top: 2.5em;
}

.contact-flex-items > li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0;
}

.contact-flex-items > li > i {
   line-height: 0;
   font-size: 20px;
}

.contact-flex-items > li .contact-item {
    padding-left: 1em;
    font-size: 15px;
}


/* Footer */

.main-footer {
	padding: 30px;
    background: var(--mp-color-green);
    isolation: isolate;
}

.main-footer .footer-bottom {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.main-footer .footer-bottom > span {
    font-size: 14px;
    font-weight: normal;
	color: var(--mp-color-white);
}

/* Darkmode */
.darkmode-toggle {
    z-index: 9;
}

.darkmode--activated .header-fixed {
    background: var(--mp-color-gray);
}

.darkmode--activated .section-skill-set {
    background: transparent;
}

.darkmode--activated i {
    color: var(--mp-color-white);
}

.darkmode--activated .contact-flex-items > li > i {
    color: var(--mp-color-black);
 }

.darkmode--activated .navbar-brand > span {
    color: var(--mp-color-white);
}

.darkmode--activated .navbar-flex-items .navbar-item-menu > li > a {
    color: var(--mp-color-white);
}

.darkmode--activated .card {
    background: var(--mp-color-gray);
}

.darkmode--activated span {
    color: var(--mp-color-white);
}

.darkmode--activated h2, p {
    color: var(--mp-color-black);
}

.darkmode--activated .main-footer {
    background: var(--mp-color-gray);
}

.darkmode--activated .main-footer .footer-bottom > span {
    color: var(--mp-color-white);
}

/* Categories */

.categories-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.categories-wrapper .category-content {
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
    width: 350px;
    padding: 8px 12px;
}

.categories-wrapper .category-content .category-item {
    margin: 25px 0;
}

.categories-wrapper .category-content .category-item .category-item-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categories-wrapper .category-content .category-item .category-item-name > i {
    font-size: 18px;
    line-height: 0;
}

.categories-wrapper .category-sub-content {
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
    width: 350px;
    padding: 8px 12px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 355px;
    top: 0;
    visibility: hidden;
    -ms-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.categories-wrapper .category-content .category-item:hover > ul {
  opacity: 1;
   visibility: visible;
   -webkit-animation: scale-in-ver-top 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-ver-top 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}



/**
 * ----------------------------------------
 * animation scale-in-ver-top
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-ver-top {
	0% {
	  -webkit-transform: scaleY(0);
			  transform: scaleY(0);
	  -webkit-transform-origin: 100% 0%;
			  transform-origin: 100% 0%;
	  opacity: 1;
	}
	100% {
	  -webkit-transform: scaleY(1);
			  transform: scaleY(1);
	  -webkit-transform-origin: 100% 0%;
			  transform-origin: 100% 0%;
	  opacity: 1;
	}
}

@keyframes scale-in-ver-top {
	0% {
	  -webkit-transform: scaleY(0);
			  transform: scaleY(0);
	  -webkit-transform-origin: 100% 0%;
			  transform-origin: 100% 0%;
	  opacity: 1;
	}
	100% {
	  -webkit-transform: scaleY(1);
			  transform: scaleY(1);
	  -webkit-transform-origin: 100% 0%;
			  transform-origin: 100% 0%;
	  opacity: 1;
	}
}



